@media screen and (min-width:300px) {

   

    html,
    body {
        overflow-x: hidden;
        font-family: 'Merriweather', serif;
        -webkit-font-smoothing: antialiased;
    }
    

    .footer {
        padding: 1px;
        padding-top: 10px;
        background-color: black;
        color: white;
        text-align: center;    
       
    }

 

     /*Navbar*/

    .nav-logo img{
      width: 300px;
      left: -15px;
    }
    .navbar {
        background-color: white;
        font-family: 'Merriweather', serif;    }

    .fixed-me {
        transition: all 1s;
    }

    .fixed-me {
        background-color: #fff !important;
        padding: 5px !important;
        margin-bottom: 5px;
        position: fixed;
        top: 0;
        z-index: 888;
        width: 100%;
        box-shadow: 0 0 5px rgba(0,0,0,.8);
    }

    .navbar-me {
        transition: all 1s;
    }

    .navbar-me {
        padding: 10px 0px;
        background-color: white;
        top: 0px;
        border: 0px;
        border-radius: 0px;
        color: black;
    }

    .navbar a {
        color: black;
        font-size: 18px;
    }
    .navbar-brand{
        font-size: 22px;
    }

    .logout{
        margin-top: 10px;
    }

    .main-body{
        min-height: 600px;
    }

 
   


    /*index page*/

    /*feature*/
    .index-feature img {
    height: 600px;
    width: 400px;
    opacity: 0.7;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    }

    .index-feature img:hover {
        opacity: 1.0;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }





    .title {
        text-align: center;
        margin: 40px;
    }

    .mission {
        background-color: black;
        color: white;
        text-align: justify;
        padding: 80px;
        padding-top: 90px;
       
        position:fixed;
        width:100%;    
        margin-top: -30px;
        margin-bottom: 400px;
     
    }

    .statement {
        margin-top: -20px;
    }

     .intro{
       margin-left: 220px;
       margin-top: -90px;
       padding-top: 20px;
     }

   

    .scroll{
       text-align: center;
       margin-top: 50em;
       margin-left: -100px;
       margin-right: -100px;
       
       padding-right: 200px;
       padding-top: 80px;
       padding-bottom: 100px;
       padding-left: 200px;
       background-color: white;
       position:relative;
    }

     .index {
     -moz-column-width: 30em;
     -webkit-column-width: 30em;
     -moz-column-gap: 5em;
     -webkit-column-gap:5em; 
    }

    

    .story a {
    color: black;
    text-decoration: none;
    }

    .story {
     display: inline-block;
     text-align:center;
     position: relative;
     overflow: hidden;
     width: 40em;
    }

      

    .story img {
       width: 40em;
       max-height: 40em;
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 2s;
      
    }



    .story:hover img {
      -moz-transform: scale(1.05);
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
      width: 40em;
    }

    

    .text{
        text-align: justify;
        padding:  4rem;
        font-size: 16px;
    }





    /*details page*/

    .details-page {
        text-align: center;
        margin: 30px;
       
    }

    .image-details img {
        max-height: 600px;
        max-width: 600px;
    }

    .page{
         background-color: #f4f4f4;
    }

    .details-featured-posts{
      -moz-column-width: 30em;
     -webkit-column-width: 30em;
     -moz-column-gap: 5em;
     -webkit-column-gap:5em; 
  
    }

    
    .alt-story {
     display: inline-block;
     text-align:center;
     position: relative;
     overflow: hidden;
     width: 40em;
     margin: 30px;
    }

      

    .alt-story img {
       width: 40em;
       max-height: 40em;
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 2s;
      
    }
  

    /*suggest page*/

    #disclaimer{
        color: #9b9b9b;
    }


    /*about*/


    .grid-divider {
        position: relative;
        padding: 0;
    }
    .grid-divider>[class*='col-'] {
        position: static;
    }
    .grid-divider>[class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 1px solid #DDD;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .col-padding {
        padding: 0 15px;
    }


    .icons {
        height: 100px;
    }

    .three-view{
        margin-bottom: 60px;
        text-align: center;
    }

    .newsletter{
        padding-top: 30px;
    }






    /*admin login page*/

    .admin-login{
        text-align: center;
        margin-top: 50px;

    }
    

    /*admin dashboard*/
    .admin-view{
        margin-top: 30px;
    }


}
