@media screen and (min-width:300px) {

    div{
		line-height: 1.5;
	}
   

    html,
    body {
        overflow-x: hidden;
        font-family: 'Lato', sans-serif;
        -webkit-font-smoothing: antialiased;
        padding-top: 30px;
    }
    

    .footer {
        padding: 1px;
        padding-top: 10px;
        background-color: black;
        color: white;
        text-align: center;    
       
    }

 

     /*Navbar*/

    .nav-logo img{

      left: -15px;
    }
    .navbar {
        background-color: white;
        font-family: 'Lato', sans-serif;

    }

    .navbar .logout {
        margin-top: 30px !important;
    }
    .fixed-me {
        transition: all 1s;
    }

    .fixed-me {
        background-color: #fff !important;
        padding: 5px !important;
        margin-bottom: 5px;
        position: fixed;
        top: 0;
        z-index: 888;
        width: 100%;
        box-shadow: 0 0 5px rgba(0,0,0,.8);
    }

    .navbar-me {
        transition: all 1s;
    }

    .navbar-me {
        padding: 10px 0px;
        background-color: white;
        top: 0px;
        border: 0px;
        border-radius: 0px;
        color: black;
    }

    .navbar a {
        color: black;
        font-size: 18px;
    }
    .navbar-brand{
        font-size: 22px;
    }

    .logout{
        margin-top: 10px;
    }

    .main-body{
        min-height: 600px;
    }

 
   


    /*index page*/



    .title {
        text-align: center;
        margin: 40px;
    }

    .mission {
        background-color: #231F20;
        color: white;
        text-align: justify;
        padding-top: 90px;
       
        padding: 80px;
         
        margin-top: -30px;
        margin-bottom: 100px;
     
    }

     .intro img{
         width: 600px;
        margin-left: 275px;
        margin-top: 30px;
        margin-bottom: 10px;
     }

    .scroll{
       background-color: white;
 
      
    }


    .story a {
        color: black;
        text-decoration: none;
        
    } 
      
    .text{
        text-align: justify;
        padding: 10px;
      
    }

    .story{
        padding: 40px;
    }




    /*details page*/

    .details-page {
        text-align: center;
        margin-top: 30px;
       
       
    }

    .image-details img {
        max-height: 700px;
        max-width: 800px;
    }

    .page{
         background-color: #f4f4f4;
         padding-top: 40px;
    }

    .details-text{
      padding-left: 200px;
      padding-right: 200px;
         text-align: justify;
    }
 
    .admin-details-text{
        text-align:center;
    }

    .details-featured-posts {
    height: 450px;
    }

      
    .details-featured-posts img {
    height: 350px;
    width: 500px;
      
    }

  

    /*suggest page*/

    #disclaimer{
        color: #9b9b9b;
        text-align:justify;
       
    }


    /*about*/

    .about{
        text-align: justify;
        padding: 100px;
        margin-top: -60px;
        padding-bottom: 100px;
    }
    .grid-divider {
        position: relative;
        padding: 0;
    }
    .grid-divider>[class*='col-'] {
        position: static;
    }
    .grid-divider>[class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 1px solid #DDD;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .col-padding {
        padding: 0 15px;
    }


    .icons {
        height: 100px;
    }

    .three-view{
        margin-bottom: 60px;
        text-align: center;
    }

    .newsletter{
        padding-top: 30px;
    }






    /*admin login page*/

    .admin-login{
        text-align: center;
        margin-top: 50px;

    }
    

    /*admin dashboard*/
    .admin-view{
        margin-top: 30px;
        
    }

    .admin-view a{
        color: black;
    }

    .admin-view-post img{
        max-width: 25em;
    }

    .space {
        margin: 10px;
    }

    .grey{
        color:dimgrey;
    }

    /*edit*/

    .edit-photo img{
        text-align:center;
        max-width: 600px;
        max-height: 400px;
    }

    .edit-post{
        margin-top: 100px;
    }

    .edit-post img {
        text-align: center;
    }
}

