

@model Dubno.Models.Post



<img src=" @Html.DisplayFor(model => model.ImageUrl) " alt="Alternate Text" />
<p> @Html.DisplayFor(model => model.Title)</p>
<p> @Html.DisplayFor(model => model.Name)</p>
<p> @Html.DisplayFor(model => model.Description)</p>