@model Dubno.Models.Post
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid page">
    <div class="details-page">
        <div class="row image-details">
            <img src="@Html.DisplayFor(model => model.ImageName)" style="width:100%">

        </div>
        <div class="row title">

            <p class="">@Html.DisplayFor(model => model.Description)</p>
        </div>

    </div>
</div>

<h4 class="title">More Stories</h4>
<div class="details-featured-posts row">


    @foreach (var post in ViewData["FeaturedPosts"] as IEnumerable<Dubno.Models.Post>)
    {
        @if (post.Approved == true && post.Pending == false)
        {
            <a href="@Url.Action("Details","Home", new { id = post.PostId })">
                <div class="alt-story">
                    <img src="@post.ImageName">
                </div>
            </a>
        }
    }

</div>