@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model IEnumerable<Dubno.Models.Post>
<div class="home-page">

    <div class="row mission">


        <img src="~/images/text.png" class="intro" />


        <div class="row statement">

            <br />
            <div class="col-md-6">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in purus dictum, laoreet est in, ultricies ex. Duis tempus rutrum lorem quis tincidunt. In lectus ipsum, auctor a magna sit amet, posuere vehicula sem. Suspendisse pulvinar, lorem non suscipit viverra, magna nisi tempus felis, et euismod ligula lorem quis odio. Mauris quis quam et nulla tincidunt tempor sodales sed risus. Vivamus a lobortis magna. Vestibulum aliquet arcu vel malesuada hendrerit. Sed pharetra, magna sed pretium volutpat, dolor mauris consequat dolor, sit amet luctus magna lacus at ex. Proin bibendum metus eget ipsum condimentum convallis.
                </p>
            </div>
            <div class="col-md-6">
                <p>
                    Morbi vel felis id velit eleifend suscipit a nec purus. Sed sodales, ex ac finibus rhoncus, augue nunc hendrerit dolor, sed feugiat elit eros sed nulla. Integer et felis in nisl blandit cursus. Quisque pharetra, massa id posuere egestas, urna orci hendrerit lorem, in cursus leo augue ut dui. Nullam neque lacus, mattis imperdiet ullamcorper in, consequat vel purus. Fusce nec diam convallis, egestas nulla in, vehicula massa. Donec gravida porttitor erat eu vehicula. Duis vitae mollis sapien, quis sodales ipsum.

                </p>
            </div>

        </div>
    </div>
    <br />
    <div class="scroll">



        @foreach (var post in Model)
            {

            @if (post.Approved == true && post.Pending == false)
                {

                <div class="story col-md-6">
                    <a href="@Url.Action("Details","Home", new { id = post.PostId })">
                        <div class="image">
                            <img src="data:image;base64,@System.Convert.ToBase64String(post.ImageName)" class="img-responsive" />

                        </div>


                        <div class="row text">

                            <p>@post.Description</p>

                            <p>

                                <span class="pull-right">@post.City, @post.State</span>


                            </p>
                        </div>


                    </a>
                </div>
            }

        }
    </div>

</div>