
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Dubno.ViewModels.PostViewModel
<br />
<br />
<br />
<h1>Add Post</h1>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="files" />

    <label>City</label>
    <select name="City" id="City">
        <option value="Dubno">Dubno</option>
    </select>

    <label>State</label>
    <select name="State" id="State">
        <option value="Ukraine">Ukraine</option>
    </select>


    <label>Title</label>
    @Html.TextBoxFor(model => model.Title)

    <label>Description</label>
    @Html.TextBoxFor(model => model.Description)

    <label>Name</label>
    @Html.TextBoxFor(model => model.Name)

    <label>Contact Email</label>
    @Html.TextBoxFor(model => model.Email)

    <input type="submit" value="Post" />
}