@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model Dubno.Models.Post

<div class="title">


    <h2>Are you sure you want to delete this?</h2>
    <hr />


    <img src="model.ImageName">

    @using (Html.BeginForm(new { @class = "title" }))
    {
        <input type="submit" value="Delete" class="btn btn-default" />
    }
</div>