<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1">



        <script src="~/js/scripts.js"></script>

        <title>@ViewBag.Title</title>
</head>
<body>
    @if (!User.Identity.IsAuthenticated)
    {
                    <!-- Fixed navbar -->
        <nav id="header" class="navbar navbar-fixed-top navbar-me">
            <div id="header-container" class="container navbar-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="brand" class="nav-logo" href="/Home/Index"><img src="~/images/logo.png" class="nav-logo" /></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Home/SuggestPost">Contribute</a></li>
                        <li><a href="/Home/About">About</a></li>
                    </ul>

                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </nav><!-- /.navbar -->

    }
    @*navbar for when admin is logged in*@
    @if (User.Identity.IsAuthenticated)
    {
        <nav id="header" class="navbar navbar-fixed-top">
            <div id="header-container" class="container navbar-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="brand" class="nav-logo" href="/Home/Index"><img src="~/images/logo.png" class="nav-logo" /></a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Home/AdminView">Dashboard</a></li>
                        <li><a href="/Email/SendEmail">Newsletter</a></li>

                        <li>@using (Html.BeginForm("LogOff", "Account", new { @class = "navbar-form navbar-right logout" }))
                        {<input type="submit" class="form-control " style="background-color:white; text-decoration:none;" value="Log out" /> }</li>
                    </ul>

                </div><!-- /.nav-collapse -->
            </div><!-- /.container -->
        </nav><!-- /.navbar -->

    }



    <div class="container-fluid main-body">
        <br />
        <br />
        <br />
        <br />
        @RenderBody()
        <br />
    </div>

    <footer class="footer">
        <p>© 2017 <a style="color:white; text-decoration:none;" href="/Account/login">Humans of Dubno, PeaceCorps</a>, all rights reserved 2017-2018</p>
    </footer>

</body>
</html>