<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Humans of Dubno</title>
</head>
<body>
    <p style="font-size:18px;">
        Hi @ViewBag.Name,
    </p>
    <p style="font-size:18px;">
        Thanks for signing up to our site
    </p>
    <p style="font-size:18px;"><i>Huamns of Dubno</i></p>
</body>
</html>
